<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <base href="/" >
</head>
<body>
     <h1>New Or Edit Category</h1>
     <form action="categories/saveOrUpdate" method="post" th:object="${category}" >
         Category id: <input type="text" th:field="*{id}" readonly >
         <br/>
         Name :<input type="text" th:field="*{name}" >
         <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="${#fields.hasErrors('name')} ? error" ></p>
       <input type="submit" value="save" >
     </form>
</body>
</html>