<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/" >
</head>
<body>
 <h1>List Categories</h1>
 <div th:if="${message!=null}">
     <h2 th:text="${message}" ></h2>
 </div>
 <table>
     <tr>
         <td>Category id</td>
         <td>Name</td>
     </tr>
     <tr th:each="item:${categories}" >
        <td th:text="${item.id}" ></td>
         <td th:text="${item.name}" ></td>
         <td></td>
         <td><a>edit</a></td>
         <td></td>
         <td><a>delete</a></td>
     </tr>
 </table>
  <a href="categories/newOrEdit" >Add new category</a>
<form action="categories/sort" >
    <select name="sort" >
        <option value="id" >ID</option>
        <option value="name" >Name</option>
    </select>
    <input type="submit" value="sort" >
</form>
</body>
</html>